<!DOCTYPE html>
<html lang="en">
<head>
<title>
	<title> Falcon Fitness Center </title>
	<meta charset ="utf-8">
</head>
<body>
<div id="container">
<header>
	<a href="index.html"><img src="images/FFCLogo.png" alt="Falcon Fitness Center Logo" height="398" width="488"></a> 
</header>
<nav>
	<a herf ="index.html">Home</a> &nbsp; &nbsp;
	<a herf ="about.html">About Us</a> &nbsp; &nbsp;
	<a herf ="classes.html">Classes</a> &nbsp; &nbsp;
	<a herf ="nutrition.html">Nutrition</a> &nbsp; &nbsp;
	<a herf ="contact.html">Contact Us</a>
</nav>
<main>

	<footer>
     &copy; Copyright 2022. All Rights Reserved. <br>
     <a href="mailto:falconfitnesscenter515@gmail.com">falconfitnesscenter515@gmail.com</a>
</footer>
</div>
</body>
</html>